{% extends "PublicBundle::base.html.twig" %}

{% block mainContent %}

  <div class="singleNews-wrapper">
    <div class="singleNews-thumb" style="background-image: url('{{ article.urlThumbnail }}');"></div>
    <div class="singleNews-content">
      <h3 class="singleNews-title">{{ article.title }}</h3>
      <p class="singleNews-info">Posté le <strong>{{ article.createAt.date | date('d M Y')}}</strong> par <strong>{{ article.auteur }}</strong>
      <p>{{ article.content }}</p>
    </div>

    <div class="comments">
      <h4>Commentaires</h4>
      {% if article.commentaires is empty %}
        <p>Pas de commentaires pour le moment.</p>
      {% endif %}

      {% for commentaire in article.commentaires %}
        <div class="comment">
          <h6 class="comment-author">{{ commentaire.username }} <span class="comment-info">- Envoyé le {{ commentaire.createAt.date | date('d M Y') }}</span> </h6>
          <blockquote>{{ commentaire.contenu }}</blockquote>
        </div>
      {% endfor %}

      {#<p><a href="#">Connectez-vous pour commenter</a></p>#}
      <div class="row">

        {{ form_start(form, {'method': 'POST', 'attr': {'class': 'col s12 message-form'}}) }}
          <div class="row">
            <div class="input-field col s12">
              {{ form_errors(form.username) }}
              {{ form_widget(form.username, { 'attr': {'class': 'validate'} }) }}
              {{ form_label(form.username, 'Utilisateur') }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{ form_errors(form.contenu) }}
              {{ form_widget(form.contenu, { 'attr': {'class': 'materialize-textarea', 'length' : '550'} }) }}
              {{ form_label(form.contenu, 'Votre message') }}
            </div>
          </div>
          {{ form_widget(form.envoyer, {'label': 'Envoyer', 'attr': {'class': 'waves-effect waves-light btn-large comment-submit right'}}) }}
        {{ form_end(form) }}

      </div>


    </div>
  </div>

{% endblock %}
