{% extends "PublicBundle::base.html.twig" %}
{% block mainContent %}

  <main class="page-content">

    <h1 class="page-title">Contact</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id quam quis nibh suscipit volutpat ac cursus quam. Aliquam ultrices.</p>

    <div class="row">

      {{ form_start(form, {'method': 'POST', 'attr': {'class': 'col s12 message-form'}}) }}
        <div class="row">
          <div class="input-field col s6">
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom, { 'attr': {'class': 'validate'} }) }}
            {{ form_label(form.prenom, 'Prénom') }}
          </div>
          <div class="input-field col s6">
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom, { 'attr': {'class': 'validate'} }) }}
            {{ form_label(form.nom, 'Nom') }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'type': 'email', 'attr': {'class': 'validate'} }) }}
            {{ form_label(form.email, 'E-mail', { 'label_attr': {'data-error': 'Incorrect'} }) }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form_errors(form.message) }}
            {{ form_widget(form.message, { 'attr': {'class': 'materialize-textarea', 'length' : '550'} }) }}
            {{ form_label(form.message, 'Votre message') }}
          </div>
        </div>
        {{ form_widget(form.envoyer, {'label': 'Envoyer', 'attr': {'class': 'waves-effect waves-light btn-large comment-submit right'}}) }}
      {{ form_end(form) }}

    </div>
  </main>

{% endblock %}
