{% set title = "Actualités" %}

{% extends "PublicBundle:templates:base.html.twig" %}
{% block mainContent %}

  {% for post in results %}
      {%  if  post.picture.fileName is defined and post.picture.fileName != NULL %}
          {% set pictureUrl = asset(images_path ~ post.picture.fileName) %}
      {% else %}
          {% set pictureUrl = '' %}
      {%  endif  %}
    <section class="mdl-card mdl-shadow--2dp demo-card-wide">
      <div class="mdl-card__title" style="background-image: url('{{ pictureUrl }}');">
        <h2 class="mdl-card__title-text">{{ post.title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Posté le <strong>{{ post.createAt.date | date('d.m.Y') }}</strong> par <strong>{{ post.auteur.firstname }} {{ post.auteur.lastname }}</strong></p>
        <p>{{ post.extract }}</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url('public.news.article', {'id': post.id}) }}">Lire la suite</a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect u-push" href="{{ url('public.news.article', {'id': post.id}) }}"><i class=" material-icons prelabel__icon">chat_bubble</i>{{ post.commentaires | length }} commentaires. Réagissez !</a>
      </div>
    </section>

  {% endfor %}

{% endblock %}
