{% set title = "Recherche" %}
{% extends "PublicBundle:templates:base.html.twig" %}

{% block mainContent %}

<div id="posts-wrapper">
    <h2 class="mdl-typography--headline">{{ nbTotalResults}} résultats de recherches pour : {{ expression }}</h2>

    {% include "PublicBundle:includes:article-card.html.twig" %}
</div>

<button id="load-more-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    Plus d'articles
</button>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        Pagination.current = {{ currentPage }};
        Pagination.max = {{ maxPostsPages }};
        Pagination.type = "search";
        Pagination.init();
    </script>
{% endblock %}
