{% set route = app.request.attributes.get('_route') %}

{% if route ends with 'new' %}
  {% set title = "Nouvel article" %}
  {% set submitValue = "Créer" %}
{% else %}
  {% set title = "Édition de l\'article \"" ~ form.title.vars.value ~ "\"" %}
  {% set submitValue = "Modifier" %}
{% endif %}
{% extends "DashboardBundle:templates:base.html.twig" %}

{% block mainContent %}

  {{ form_start(form, {'method': 'POST', 'attr': {'class': 'mdl-grid u-fgrow'}}) }}

    <section class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col dashboard-section">
      <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
          <div class="form-errors">{{ form_errors(form.title) }}</div>
          {{ form_widget(form.title,{'attr' : {'class':'mdl-textfield__input'}}) }}
          {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'mdl-textfield__label'} }) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
          <div class="form-errors">{{ form_errors(form.extract) }}</div>
          {{ form_widget(form.extract,{'attr' : {'class':'mdl-textfield__input', 'rows': '3'}}) }}
          {{ form_label(form.extract, 'Extrait', {'label_attr': {'class': 'mdl-textfield__label'} }) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
          <div class="form-errors">{{ form_errors(form.content) }}</div>
          {{ form_widget(form.content,{'attr' : {'class':'mdl-textfield__input', 'rows': '7'}}) }}
          {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'mdl-textfield__label'} }) }}
        </div>
{#        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
          <div class="form-errors">{{ form_errors(form.urlThumbnail) }}</div>
          {{ form_widget(form.urlThumbnail,{'attr' : {'class':'mdl-textfield__input', 'rows': '7'}}) }}
          {{ form_label(form.urlThumbnail, 'Lien de l\'image', {'label_attr': {'class': 'mdl-textfield__label'} }) }}
        </div>#}
          <div class="mdl-cell mdl-cell--12-col">
            {{ form_label(form.picture, 'Picture', {'label_attr': {'class': 'file-upload-label'}}) }}
            {{ form_widget(form.picture) }}
            {#<div class="form-errors">{{ form_errors(form.picture) }}</div>#}
          </div>
      </div>
    </section>
    <section class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col dashboard-section clearfix">
      <div class="mdl-cell mdl-cell--12-col dashboard-datetime-wrapper">
        {{ form_label(form.createAt, 'Date de création', {'label_attr': {'class': 'mdl-typography--title'} }) }}
        {{ form_widget(form.createAt,{'attr' : {'class':'mdl-textfield__input', 'data-format': 'dd-MM-yyyy'}}) }}
        <div class="form-errors">{{ form_errors(form.createAt) }}</div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        {{ form_label(form.status, 'Status', {'label_attr': {'class': 'mdl-typography--title select-label'} }) }}
        {{ form_widget(form.status,{'attr' : {'class':''}}) }}
        <div class="form-errors">{{ form_errors(form.status) }}</div>
      </div>
      {{ form_widget(form._token) }}
      <input type="submit" value={{submitValue}} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored u-push"/>
    </section>
  {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('dev/js/better-dom.js') }}"></script>
  <script src="{{ asset('dev/js/better-i18n.js') }}"></script>
  <script src="{{ asset('dev/js/better-dateinput-polyfill.js') }}"></script>

  <script>

  </script>
{% endblock %}
