{% set title = "Dashboard | Prof" %}
{% set editArticle  = "teacher.article.edit" %}
{% set newArticle   = "teacher.article.new" %}

{% extends "DashboardBundle::templates/base.html.twig" %}

{% block mainContent %}
    <a href="{{  url(newArticle) }}">Créer un nouvel article</a>
   {{  dump(posts) }}
    <table>
        <thead>
            <tr>
                <td>titre de l'article</td>
                <td>extrait</td>
                <td>créé le</td>
                <td>status</td>
                <td>edition</td>
                <td>suppression</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts  %}
            <tr>
                <td><a href="{{ url('public.news.article', {'id': post.id}) }}" target="_blank">{{ post.title }}</a></td>
                <td>{{ post.extract }}</td>
                <td>{{ post.createAt | date('d M Y')  }}</td>
                <td><a href="#" class="editPublish" data-id="{{ post.id }}">{{ post.label }}</a></td>
                <td><a href="{{ url(editArticle, {'id':post.id}) }}">edit</a></td>
                <td><a href="#" class="deletePost" data-id="{{ post.id }}">delete</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}