{% set title = "Liste des articles" %}
{% set editArticle  = "teacher.article.edit" %}
{% set newArticle   = "teacher.article.new" %}

{% extends "DashboardBundle:templates:base.html.twig" %}

{% block NavEditMenu %}
  {% include "DashboardBundle:includes:nav-editor.html.twig" with {'type':'post'} %}
{% endblock %}

{% block mainContent %}

  <a id="add-article" class="article-adder mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href="{{ url(newArticle) }}"><i class="material-icons">add</i></a>
  <div class="mdl-tooltip" for="add-article">Ajouter un article</div>

  <table class="article-list mdl-data-table mdl-data-table--selectable mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric cell--s">Titre</th>
        <th class="mdl-data-table__cell--non-numeric extract">Extrait</th>
        <th class="mdl-data-table__cell--non-numeric cell--s">Créé le</th>
        <th class="mdl-data-table__cell--non-numeric cell--xs">Status</th>
        <th class="cell--xs">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr data-id="{{ post.id }}">
          <td class="mdl-data-table__cell--non-numeric cell--s"><a href="{{ url('public.news.article', {'id': post.id}) }}" target="_blank">{{ post.title }}</a></td>
          <td class="mdl-data-table__cell--non-numeric extract">{{ post.extract }}</td>
          <td class="mdl-data-table__cell--non-numeric cell--s">{{ post.createAt | date('d M Y')  }}</td>
          <td class="mdl-data-table__cell--non-numeric cell--xs"><a href="#" class="editPublish" data-type="post" data-id="{{ post.id }}">{{ post.label }}</a></td>
          <td class="cell--xs">
            <a class="material-icons" href="{{ url(editArticle, {'id':post.id}) }}">mode_edit</a>
            <a class="material-icons deleteItem" href="#" data-type="post" data-id="{{ post.id }}">delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('dev/js/publish-status.js') }}"></script>
  <script>
    var multipleActions = MultipleActions;
    (function init() {
      setTimeout(function(){ multipleActions.init() }, 200);
    })();
  </script>
{% endblock %}
