{% set title = "Dashboard | Prof" %}
{% extends "DashboardBundle:templates:base.html.twig" %}

{% block mainContent %}

  <section class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col dashboard-section clearfix">
    <h1 class="mdl-typography--display-1"><small>Titre  : </small>{{ score.fiche.title }}</h1>
    <h3 class="mdl-typography--title"><small>Question : </small>{{ score.fiche.content }}</h3>

    {{ form_start(form, {'method': 'POST', 'attr': {'class': 'mdl-grid mdl-grid--no-spacing u-fgrow'}}) }}

    {% for key, formReponse in form.children %}

      <div class="mdl-cell mdl-cell--12-col">
        {% if key != "_token" %}
          <div id="{{ formReponse.vars.id }}">
            <h6>{{ form_label(formReponse) }}</h6>

            {% for child in formReponse.children %}
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-cell mdl-cell--12-col" for="{{ child.vars.id }}">
                {{ form_widget(child, {'attr' : {'class':'mdl-radio__button', 'type': 'radio', 'name': child.vars.full_name, 'value': child.vars.value, 'id': child.vars.id}}) }}
                <span class="mdl-radio__label">{{ child.vars.label }}</span>
              </label>
            {% endfor %}
            <div class="form-errors">{{ form_errors(formReponse) }}</div>
          </div>
        {% else %}
          {{ form_widget(formReponse) }}
          <div class="form-errors">{{ form_errors(formReponse) }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="mdl-cell mdl-cell--12-col clearfix">
      <input type="submit" value="Valider les réponses" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored u-push"/>
    </div>
    {{ form_end(form)}}
  </section>
{% endblock %}
