{% set title = "Listes des fiches" %}
{% extends "DashboardBundle::templates/base.html.twig" %}

{% block mainContent %}
  <table class="article-list mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric cell--s">Titre</th>
        <th class="mdl-data-table__cell--non-numeric u-hide-mini">Question</th>
        <th class="cell--xs">Note</th>
        <th class="cell--s">Statut</th>
        <th class="cell--xs">Répondre</th>
      </tr>
    </thead>
    <tbody>
      {% for QCM in scores %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric cell--s">{{ QCM.fiche.title }}</td>
          <td class="mdl-data-table__cell--non-numeric u-hide-mini">{{  QCM.fiche.content }}</td>
          <td class="cell--xs">{% if (QCM.status.name == "UNDONE") %}-{% else %}{{ QCM.note }}{% endif %}</td>
          <td class="cell--s">{{ QCM.status.label }}</td>
          <td class="cell--xs">
            {% if (QCM.status.name == "DONE") %}
              <a class='material-icons' disabled>check</a>
            {% else %}
              <a class='material-icons' href="{{ url('student.fiches.form',{'id':QCM.id} ) }}">send</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type='text/javascript' src="{{ asset('dev/js/publish-status.js') }}"></script>
  <script>
    var multipleActions = MultipleActions;
    (function init() {
      setTimeout(function(){ multipleActions.init() }, 200);
    })();
  </script
{% endblock %}
