{% set title = "Connexion" %}

{% extends "PublicBundle:templates:base.html.twig" %}
{% block mainContent %}

    {% trans_default_domain 'FOSUserBundle' %}
    <main class="page-content mdl-shadow--2dp clearfix">

        <h1 class="mdl-typography--display-1">Connexion</h1>

        {% if error %}
            <p class="form-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form class="mdl-grid mdl-grid--no-spacing" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                <input class="mdl-textfield__input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <label class="mdl-textfield__label" for="username">{{ 'security.login.username'|trans }}</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                <input class="mdl-textfield__input" type="password" id="password" name="_password" required="required" />
                <label class="mdl-textfield__label" for="password">{{ 'security.login.password'|trans }}</label>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="remember_me">
                    <input type="checkbox" id="remember_me" value="on" class="mdl-switch__input" />
                    <span class="mdl-switch__label"><small>Se souvenir de moi</small></span>
                </label>
            </div>

            <div class="mdl-cell mdl-cell--6-col">
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored u-push" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </form>

    </main>

{% endblock mainContent %}
